<footer id="footer" class="sixteen columns" data-hook style="height:85px">
<div id="footer-left" class="columns alpha eight" data-hook>
    <div style="width:900px">
    <span style="float:left; width:300px;"><%= link_to 'About teju', '/spree/content/about_us' %></span>
    <span style="float:left; width:300px;"><%= link_to 'Shipping & Delivery Policy', '/spree/content/shipping_policy' %></span>
    <span style="float:left; width:300px;"><%= link_to 'Cancellation & Refund Policy', '/spree/content/cancellation_policy' %></span>
    <span style="float:left; width:300px;"><%= link_to 'Terms & Conditions', '/spree/content/terms' %></span>
    <span style="float:left; width:300px;"><%= link_to 'Privacy Policy', '/spree/content/privacy_policy' %></span>
    <span style="float:left; width:300px;"><%= link_to 'Disclaimer', '/spree/content/disclaimer' %></span>
    <span style="float:left; width:900px;"><%= link_to 'Contact Us', '/spree/content/contact_us' %></span>
  </div>
  </div>
  <div id="footer-right" class="columns omega eight" data-hook></div>
</footer>

