<footer id="footer" class="sixteen columns" data-hook>
<div id="footer-left" class="columns alpha eight" data-hook>
    <div style="width:900px">
    <span style="width:200px; padding-right : 150px;"><%= link_to 'About Us', '/spree/content/about_us' %></span>
    <span style="width:200px; padding-right : 150px;"><%= link_to 'Shipping & Delivery Policy', '/spree/content/shipping_policy' %></span>
    <span style="width:200px; padding-right : 168px;"><%= link_to 'Cancellation & Refund Policy', '/spree/content/cancellation_policy' %></span>
    <span style="width:200px; padding-right : 95px;"><%= link_to 'Terms & Conditions', '/spree/content/terms' %></span>
    <span style="width:200px; padding-right : 220px;"><%= link_to 'Privacy Policy', '/spree/content/privacy_policy' %></span>
    <span style="width:200px; padding-right : 150px;"><%= link_to 'Disclaimer', '/spree/content/disclaimer' %></span>
    <span style="width:200px; padding-right : 150px;"><%= link_to 'Contact Us', '/spree/content/contact_us' %></span>
  </div>
  </div>
  <div id="footer-right" class="columns omega eight" data-hook></div>
</footer>

